.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}


html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.flex-row-top {
  flex-grow: 3;
  flex-shrink: 1;
}
.flex-row-bottom {
  flex-grow: 1;
  flex-shrink: 1;
  background-color:blue;
}
/* footer {
  background-color: burlywood;
  margin-top: -150px;
} */