.root-container {
    height: 100%;
    background-color: #000000;
}
.side-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 10;
}
.side-nav-extend {
    background-color: rgba(12, 1, 11, 0.739);
}

.side-nav-close {
    display: none;
}

.theme-background {
    background: linear-gradient(to bottom,#c33764, #43055A);
}
